@font-face {
  font-family: 'Fira Mono';
  src: url('./fonts/FiraMono-Regular.eot');
  src:
    url('./fonts/FiraMono-Regular.woff2') format('woff2'),
    url('./fonts/FiraMono-Regular.woff') format('woff'),
    url('./fonts/FiraMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fira Mono';
  src: url('./fonts/FiraMono-Medium.eot');
  src:
    url('./fonts/FiraMono-Medium.woff2') format('woff2'),
    url('./fonts/FiraMono-Medium.woff') format('woff'),
    url('./fonts/FiraMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('./fonts/FiraMono-Bold.eot');
  src:
    url('./fonts/FiraMono-Bold.woff2') format('woff2'),
    url('./fonts/FiraMono-Bold.woff') format('woff'),
    url('./fonts/FiraMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --font: 'Fira-Mono', monospace;
  --black: #191919;
  --white: #f1f1f2;
  --watermelon: #ff5266;
  --carmin: #b33947;
  --cgreen: #00c9a6;
  --pgreen: #00332b;
  --cyan: #00d2fc;
  --pblue: #01778f;

  --text-color: var(--white);
  --background-color: var(--black);
  --color1: var(--watermelon);
  --color2: var(--cyan);
  --color3: var(--cgreen);
  @media (prefers-color-scheme: light) {
    --text-color: var(--black);
    --background-color: var(--white);
    --color1: var(--carmin);
    --color2: var(--pblue);
    --color3: var(--pgreen);
  }
}

.base {
  background-color: var(--background-color);
  color-scheme: dark;
  max-width: 80ch;
  margin-inline: auto;
  padding: 16px;
  font-family: var(--font);
  font-variant-ligatures: none;
  font-variation-settings: 'liga' 0;
  color: var(--text-color);
  font-size: 20px;
  @media (min-width: 2200px) {
    font-size: 30px;
  }
  @media (max-width: 1399px) {
    font-size: 16px;
  }
  @media (max-width: 1119px) {
    font-size: 14px;
  }
  @media (max-width: 980px) {
    font-size: 16px;
  }
  @media (max-width: 480px) {
    font-size: 0.9rem;
  }
}

.identity {
  font-size: 2rem;
  font-weight: 400;
}

.hidden {
  display: none;
}

.list-contacts {
  list-style-type: '! ';
  padding: 1rem 3rem;
  font-size: 1.2rem;
}

.list-contacts-marker::marker {
  font-weight: 400;
  color: var(--color1);
}

.link {
  color: var(--color2);
  text-decoration: none;
  &:hover {
    color: var(--color3);
  }
}

.about {
  padding: 0.9rem 0;
}

.about-skills {
  display: inline-block;
}

.about-skills > *:not(:last-child)::after {
  content: '|';
  color: var(--color1);
  padding: 0 0.5rem;
}

.webrings {
  width: fit-content;
  border-top: 2px dashed var(--color1);
  padding-top: 0.5rem;
}

.webring-item {
  display: inline-block;
  padding-bottom: 0.5rem 0;
}

.webring-item > *:not(:last-child)::after {
  content: '|';
  color: var(--color1);
  padding: 0 0.5rem;
}
